html {
  font-size: 16px;
  color: #333333;
  background: #f5f5f5;
}

body {
  font-family: 'League Spartan', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
  outline: none;
}
